header img {
    height: 2em;
    margin-left: 1em;
    margin-top: .5em;
}

body {
    height: 125vh;
    margin: 0;
    margin-top: 80px;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 30px;
    background-color: #F3F3F3;
    background-image: radial-gradient(#f3f3f3, #f6f6f6);
    
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 50px;
    background-color: #f3f3f3;
    align-items: center;
    box-shadow: 0 0 40px 0 black;
    font-size: 20px;
    font-family: franklin-gothic-urw, sans-serif;
}

p {
    font-size: 1.5em;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li:hover {
    font-size: 25px;
    font-weight: 100;
}

header li {
    margin-left: 30px;
    display:inline-block;
}

header li a {
    color: #1b1b1b;
    font-weight: 700;
    text-decoration: none;
    padding: 10 px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home {
    padding: 100px;
    height: 100%;
}

#home .profile-img {
    width: 300px;
    border-radius: 50%;
    height: 300px;
}

#home figcaption {
    border: thin;
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
    height: auto;
}

footer {
    text-align: center;
    padding: 50px;
}

#home h1 {
    font-size: 3em;
}

.button {
    background-color: #1B91FC;
    border: thin;
    color: white;
    padding: 1em 1em;
    font-size: 1em;
    border-radius: 90%;
    margin: auto;
    cursor:crosshair;
}

#journey {
    font-size: 1em;
    font-family: franklin-gothic-urw;
    padding: 60px;
    height: 100%;
}

#journey p {
    max-width: 1000px;
    color: #616161;
}

#journey h1 {
    font-size: 40px;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
    
}

header a {
    text-decoration:solid;
    color: black;
}

#github h3 {
    font-size: 40px;
}

#contact {
    font-size: 1.2em;
}



/*  Start of table CSS */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.5em;
    font-family: franklin-gothic-urw;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.styled-table thead tr {
    background-color: #1B91FC;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: thin solid #1B91FC;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #02427E;
}

.slide {
    width: 200px;
    height: 200px;
}

pre {
    width: 100%;
    overflow-x: scroll;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.5em 1em;
    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4; 
}
  
/* Styling for Contact Me Table */

.socialMediaTable td{
    text-align: center;
    border: thin;
    padding: 1.5em;
}


/* Grid of interactive photos */

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.column {
    padding: 0 5px;
    flex: 100%;
    vertical-align: middle;
}

.column img {
    margin-top: 5px;
    vertical-align: middle;
}


/* Media queries for responsiveness */

@media only screen and (max-width: 400x) {


    header {
        height: 140px;
        font-size: 30px;
    }

    #home figcaption {

        font-size: 10px;
    }
}

